.DS_Store
/.build
/Packages
/BenchmarkUtility/.build
/BenchmarkUtility/.swiftpm
*.xcodeproj
xcuserdata/
/.swiftpm
Package.resolved
*.ll
*.out
*.txt
*.s
diffresult
diffresult.longer
actualoutput
actualoutput.longer
